

h1 {
    font-family: "Funnel Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
  }

.btn-primary{
    
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.holidays{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display:flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    background-color: #e0dba7;
}

.card-title{
    font-size: 30px;
}

.card-subtitle{
    font-family: "Funnel Display", sans-serif;
}